<div class="row justify-content-center mt-5 mb-4">
  <div class="col-auto">
    <h1>Log In</h1>
  </div>
</div>
<%= form_tag do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Log In" %>
<% end %>
<%= link_to "Log in via Github", '../auth/github' %>
<%= link_to "Sign Up", new_user_path %>

