<%= form_with model: note, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, display_error(note, :title) %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :language do |l_form| %>
      <%= l_form.label :name, display_error(note.language, :name, optional_name="Language") %>
      <%= l_form.text_field :name, list: "language_list", class: "form-control"  %>
      <datalist id ="language_list">
        <% @language_names.each do |lang_name| %>
          <option value="<%= lang_name %>">
        <% end %>
      </datalist>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.fields_for :topics do |t_form| %>
      <%= t_form.label :name, display_error(t_form.object, :name, optional_name="Topic") %>
      <%= t_form.text_field :name, list: "topic_list", class: "form-control"  %>
      <datalist id ="topic_list">
        <% @topics.each do |topic| %>
          <option value="<%= topic.name %>">
        <% end %>
      </datalist>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :summary, "Summary: " %><br>
    <%= f.text_area :summary, placeholder: "summary", class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :code_snippets, "Code: ", class: "font-weight-bold primary-text" %><br>
    <%= f.fields_for :code_snippets do |c_form| %>
      <label class="primary-text">Code Snippet: </label><br>
      <%= c_form.text_area :code, placeholder: "write code here", class: "form-control" %><br>
      <br>
      <%= c_form.text_area :annotation, placeholder: "notes about the code", class: "form-control" %><br>    
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :external_resources, "Resource: ", class: "font-weight-bold primary-text" %><br>
    <%= f.fields_for :external_resources do |r_form| %>
      <%= r_form.label :name, "Name: " %>
      <%= r_form.text_field :name, class: "form-control" %><br>
      <%= r_form.label :url, "Url: " %>
      <%= r_form.text_field :url, class: "form-control" %><br>
      <%= r_form.label :description, "Description: " %>      
      <%= r_form.text_area :description, placeholder: "description of the resource", class: "form-control" %><br>    
    <% end %>
  </div>
  <%= f.submit "Save", class: "btn-secondary submit-button" %>
<% end %>
