<%= form_with model: note, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, display_error(note, :title) %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :language do |l_form| %>
      <%= l_form.label :name, display_error(note.language, :name, optional_name="Language") %>
      <%= l_form.text_field :name, list: "language_list", class: "form-control"  %>
      <datalist id ="language_list">
        <% @language_names.each do |lang_name| %>
          <option value="<%= lang_name %>">
        <% end %>
      </datalist>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :summary, "Summary: " %><br>
    <%= f.text_area :summary, placeholder: "summary", class: "form-control" %>
  </div>
  <br>
  <div id="note_topics_form_group" class="form-group">
    <label class="font-weight-bold">Topics: </label>
    <% if topic_error = note.errors.messages[:"topics.name"] %>
      <div class="field_with_errors">
        <label><%= topic_error[0] %></label>
      </div>
    <% end %>
    <br>
    <%= f.fields_for :topics do |t_form| %>
      <%= t_form.text_field :name, list: "topic_list", class: "form-control form-control-2 my-1"  %>
      <datalist id ="topic_list">
        <% @topics.each do |topic| %>
          <option value="<%= topic.name %>">
        <% end %>
      </datalist>
      <% if note.persisted? && t_form.object.persisted? %>
        <input type="submit" class="link-button primary-text" form="delete_topic" formaction="<%= note_topic_path(note, t_form.object)%>" value="x">
      <% end %>
       <br>
    <% end %>
    <div id="new_topic" class="pointer">
      <%= image_tag "add-icon.png", class: "icon"%> 
      <span class="icon-label">Add Topics</span>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :code_snippets, "Code: ", class: "font-weight-bold primary-text" %><br>
    <%= f.fields_for :code_snippets do |c_form| %>
      <label class="primary-text">Code Snippet: </label><br>
      <%= c_form.text_area :code, placeholder: "write code here", class: "form-control" %><br>
      <br>
      <%= c_form.text_area :annotation, placeholder: "notes about the code", class: "form-control" %><br>    
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :external_resources, "Resource: ", class: "font-weight-bold primary-text" %><br>
    <%= f.fields_for :external_resources do |r_form| %>
      <%= r_form.label :name, "Name: " %>
      <%= r_form.text_field :name, class: "form-control" %><br>
      <%= r_form.label :url, "Url: " %>
      <%= r_form.text_field :url, class: "form-control" %><br>
      <%= r_form.label :description, "Description: " %>      
      <%= r_form.text_area :description, placeholder: "description of the resource", class: "form-control" %><br>    
      <%= r_form.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </div>
  <%= f.submit "Save", class: "btn-secondary submit-button" %>
<% end %>

<%= form_with id: "delete_topic" do %>
  <input type="hidden" name="_method" value="delete">
<% end %>