
    <%= form_with model: note, local: true do |f| %>
      <div class="form-group">
        <%= f.label :title, display_error(note, :title) %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.fields_for :language do |l_form| %>
          <%= l_form.label :name, display_error(note.language, :name, optional_name="Language") %>
          <%= l_form.text_field :name, list: "language_list"  %>
          <datalist id ="language_list">
            <% @language_names.each do |lang_name| %>
              <option value="<%= lang_name %>">
            <% end %>
          </datalist>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.fields_for :topics do |t_form| %>
          <%= t_form.label :name, display_error(t_form.object, :name, optional_name="Topic") %>
          <%= t_form.text_field :name, list: "topic_list"  %>
          <datalist id ="topic_list">
            <% @topic_names.each do |topic_name| %>
              <option value="<%= topic_name %>">
            <% end %>
          </datalist>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :summary, "Summary: " %><br>
        <%= f.text_area :summary, placeholder: "summary" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :code_snippets, "Code: ", class: "font-weight-bold" %><br>
        <%= f.fields_for :code_snippets do |c_form| %>
          <label>Code Snippet: </label><br>
          <%= c_form.text_area :code, placeholder: "write code here" %><br>
          <br>
          <%= c_form.text_area :annotation, placeholder: "notes about the code" %><br>    
        <% end %>
      </div>
      <%= f.submit "Save", class: "btn-secondary submit-button" %>
    <% end %>
