<div class="row justify-content-start mt-4">
  <div class="col-md-4 col-6">
    <a href="<%= new_note_path%>" class="nav-link">
      <%= image_tag "add-icon.png", class: "icon"%> 
      <span class="mx-2 primary-text icon-label">New Note</span>
    </a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 col-12 pt-4">
    <div class="row justify-content-center">
      <h1 class="primary-text">Find Notes</h1>
    </div>
    <div class="row justify-content-center mt-4 mb-2">
      <%= form_with url: "/notes", method: 'GET', local: true do %>
        <div class="form-group-row">
          <%= text_field_tag 'terms[language]', "", placeholder: "language#{@language}", class: "mx-2" %>
          <%= text_field_tag 'terms[topic]', "", placeholder: "topic#{@topic}", class: "mx-2" %>
          <%= text_field_tag 'terms[keyword]', "", placeholder: "keyword#{@keyword}", class: "mx-2" %>
        </div>
        <div class="row justify-content-center my-2">
          <span class="mx-2">Notes by: </span>
          <%= radio_button_tag 'terms[user]', 'me', class: "mx-2" %>
          <span class="mx-2" for="terms_user_me">me</span>
          <%= radio_button_tag 'terms[user]', 'others', class: "mx-2" %>
          <span class="mx-2" for="terms_user_others">others</span>
          <%= radio_button_tag 'terms[user]', 'both', class: "mx-2" %>
          <span class="mx-2" for="terms_user_both">both</span>
        </div>
        <div class="row justify-content-center my-3">
          <%= submit_tag "Search", name: nil, class: "btn-secondary submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "list_notes", locals: {notes: @notes} %>

