
<h1>Find Notes</h1>
<%= link_to "New Note", new_note_path %>

<%= form_with url: "/notes", method: 'GET', local: true do %>
  <%= text_field_tag 'terms[language]', "", placeholder: "language" %><br>
  <%= text_field_tag 'terms[topic]', "", placeholder: "topic" %><br>
  <%= text_field_tag 'terms[keyword]', "", placeholder: "keyword" %><br>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% @notes.each do |note| %>
  <h3>
    <%= note.title %>
    <%= render partial: "display_tags", locals: {note: note} %>
  </h3>
  <p><%= note.summary %></p>
<% end %>

