<h1 class="mt-4 primary-text">
  <%= @note.title %>
  <%= render partial: "display_tags", locals: {note: @note} %>
</h1>

<% if @note.user == current_user %>
  <div class="row">
    <a href="<%= edit_note_path(@note)%>" class="nav-link">
      <%= image_tag "edit-icon.png", class: "icon"%> 
      <span class="mx-2 primary-text icon-label">Edit</span>
    </a>
    <div class="py-2">
      <%= form_with url: note_path(@note), method: "delete" do%>
        <button type="submit" class="link-button">
          <%= image_tag "delete-icon.png", class: "icon"%>
          <span class="mx-2 icon-label primary-text">Delete</span>
        </button>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row justify-content-start pt-3 px-3">
  <div class="col-md-10, col-12">
    <div class="row">
      <p class="primary-text font-italic"><%= @note.summary %></p>
    </div>
    <% @note.code_snippets.each do |snippet| %>
      <div class="row">
        <pre class="primary-text bg-light code-snippet"><%= snippet.code %></pre>
      </div>
      <div class="row">
        <pre class="primary-text"><%= snippet.annotation %></pre>
      </div>
      <br>
    <% end %>
    <% unless @note.external_resources.empty? %>
      <%= render partial: 'external_resources/list', locals:{external_resources: @note.external_resources} %>
    <% end %>
  </div>
</div>

