<h1 class="mt-4">
  <%= @note.title %>
  <%= render partial: "display_tags", locals: {note: @note} %>
</h1>

<a href="<%= edit_note_path(@note)%>" class="nav-link">
  <%= image_tag "edit-icon.png", class: "icon"%> 
  <span class="mx-2 primary-text icon-label">Edit</span>
</a>

<div class="row justify-content-start">
  <p><%= @note.summary %></p>
  <% @note.code_snippets.each do |snippet| %>
    <p><%= snippet.code %></p>
    <p><%= snippet.annotation %></p>
  <% end %>
<% end %>

