<div class="row justify-content-center px-2">
  <div class="col-md-12">
    <h1 class="mt-4 mb-3">
      <%= @language.name %>
      <a href="<%= new_language_external_resource_path(@language) %>" class="badge ml-3">
        <%= image_tag "add-icon.png", class: "icon"%> 
        <span class="primary-text embedded-icon-label">Add Resource</span>
      </a>
    </h1>

    <h3>Topics:</h3>
    <ul>
      <% @topics.each do |topic| %>
        <li><%= link_to topic.name, language_topic_path(@language, topic), class: "primary-text"  %></li>
      <% end %>
    </ul>

    <%= render partial: 'notes/external_resources', locals:{external_resources: @external_resources} %>
  </div>
</div>



