<h1><%= @language.name %></h1>
<%= link_to "Add Resource", new_language_external_resource_path(@language) %>
<h3>Topics:</h3>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, language_topic_path(@language, topic)  %></li>
  <% end %>
</ul>

<h3>Resources:</h3>
<ul>
  <% @external_resources.each do |external_resource| %>
    <li>
      <%= "#{external_resource.name}  - #{external_resource.display_description}" %><br>
      <%= link_to "#{external_resource.url}", external_resource.url if external_resource.url %>
    </li>
  <% end %>
</ul>