<h1>ExternalResources#new</h1>
<%= form_with model: @external_resource, url: language_external_resources_path(@language), local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :url %>
  <%= f.text_field :url %><br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <%= f.submit %>
<% end %>
