<!DOCTYPE html>
<html>
  <head>
    <title>CodeNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="primary-background">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light justify-content-between secondary-background">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Notes", notes_path, class: "nav-link secondary-text" %>
          </li>
          <li class="nav-item">
            <%= link_to "Languages", languages_path, class: "nav-link secondary-text" %>
          </li>
        </ul>
      </div>
      <div>
        <%= form_with url: "/login", method: "delete", class: "form-inline" do %>
          <%= submit_tag "Log Out", class: "link-button secondary-text" %>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag 'note', 'data-turbolinks-track': 'reload' %>
</html>


