<!DOCTYPE html>
<html>
  <head>
    <title>CodeNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= form_with url: "/login", method: "delete" do %>
        <%= submit_tag "Log Out" %>
      <% end %>
      <%= link_to "Search", notes_path %>
      <%= link_to "Languages", languages_path %>
    </div>
    <%= yield %>
  </body>
</html>
